application/session
captcha

assets/upload/abma/*
!assets/upload/abma/index.html
assets/upload/admin/*
!assets/upload/admin/index.html
assets/upload/foto_abma/*
!assets/upload/foto_abma/index.html
assets/upload/kawasan_tanah/persyaratan_administratif/*
!assets/upload/kawasan_tanah/persyaratan_administratif/index.html
assets/upload/kawasan_tanah/persyaratan_fisik/*
!assets/upload/kawasan_tanah/persyaratan_fisik/index.html
assets/upload/pengadaan_tanah/permohonan
assets/upload/regulasi/*
!assets/upload/regulasi/index.html
assets/upload/abma_file_pendukung

assets/upload/dokumen/*
!assets/upload/dokumen/index.html